@page "/Inventory"
@inject HttpClient Http
@inject Services.FoodItemService FoodItemService


<head>

    <link rel="stylesheet" type="text/css" href="css/TileComponent.css">

</head>

<style>
    body {
        background-color: inherit;
    }

    .container {
        background-color: inherit;
    }
</style>

<div class="container">

    <InventoryComponent/>



</div>


@code {
    //private const string ServiceEndpoint = "https://localhost:44300/api/FoodItems";
    //private string editRowStyle = "none";
    //private string newItemName;

    //public int cInventoryId { get; set; }
    //public int CurrentTypeId { get; set; }
    //public int InvReload { get; set; }

    //public void ClickTypeHandler(int Id)
    //{
    //    CurrentTypeId = Id;
    //    InvReload = 1;
    //}
    //public void ClickInventoryHandler(int Id)
    //{
    //    CurrentInvId = Id;
    //    InvReload = 0;

    //}




}